
<h1 class="page-title">Register</h1>
<div class="alert alert-danger" *ngIf="userExists">
<p>That username already exists choose another or reset your password</p>
</div>
<div class="container">
   <div id="signup">

<div class="signup-screen">
  <div class="space-bot text-center">
     <h1>Registration</h1>
    <div class="divider"></div>
  </div>

<form class="form-register" novalidate #f="ngForm" (ngSubmit)="register(f)">
<div class="form-group input-field col s6">
<label for="">Username</label>
<input type="text" class="form-control" placeholder="Username" name="username"
  [(ngModel)]="username"
  #userName="ngModel"
  minlength="2"
  required
/>
</div>
<div class="alert alert-danger" *ngIf="userName.errors?.required && userName.touched">
Username is required.
</div>
<div class="alert alert-danger" *ngIf="userName.errors?.minlength && userName.touched">
Minimum length is 7.
</div>

<div class="form-group">
  <label for="">Password</label>
  <input type="password" class="form-control" placeholder="Password" name="password"
  [(ngModel)]="password"
  #userPassword="ngModel"
  minlength="4"
  required
/>
</div>
  <div class="alert alert-danger" *ngIf="userPassword.errors?.required && userPassword.touched">
  Password is required.
</div>
<div class="alert alert-danger" *ngIf="userPassword.errors?.minlength && userPassword.touched">
  Minimum length is 4.
</div>

<div class="form-group">
  <label for="">Email</label>
  <input type="email" class="form-control" placeholder="Email" name="email"
  [(ngModel)]="email"
  #userEmail="ngModel"
  required
/>
</div>
  <div class="alert alert-danger" *ngIf="userEmail.errors?.required && userEmail.touched">
  Email is required.
</div>

<div class="form-group">
  <label for="">Phone</label>
  <input type="phone" class="form-control" placeholder="Phone" name="phone"
  [(ngModel)]="phone"
  #userPhone="ngModel"
  required
/>
</div>
  <div class="alert alert-danger" *ngIf="userPhone.errors?.required && userPhone.touched">
  Phone is required.
</div>


<div class="form-group">
  <label for="">Company</label>
  <input type="company" class="form-control" placeholder="company" name="company"
  [(ngModel)]="company"
  #userCompany="ngModel"
  required
/>
</div>
  <div class="alert alert-danger" *ngIf="userCompany.errors?.required && userCompany.touched">
  Company is required.
</div>

<div class="form-group">
  <div class="space-top text-center">
             <button ng-disabled="form-register" [disabled]="!f.valid" class=" waves-effect waves-light btn done">
             <i class="material-icons left"></i> Register
             </button>
            </div>
</div>
</form>
</div>

</div>
</div>
